<h1>Editing Listing</h1>

<div class="container">
<div class="d-flex justify-content-center flex-column align-items-center">
<%= render 'form', listing: @listing %>
<div class="actions">
<%= link_to 'Show', @listing, class:'btn btn-secondary m-2' %>
</div>
</div>
</div>
